.text-centered {
    text-align: center;
}

#main-title {
    font-size: 4.2em;
    font-weight: bold;
    color: black;
}

#main-subtitle {
    font-size: 1.5em;
    font-weight: 400;
}

.content .content-title {
    font-size: 2.5em;
    font-weight: bold;
}

@media only screen and (max-width: 585px) {
    .content .content-title {
        font-size: 2em;
    }
}