.table td {
    display: table-cell;
    vertical-align: middle;
}

.input {
    width: 40px;
    text-align: center;
}

.remove-cell {
    width: 40px;
}

.small-cell {
    width: 115px;   
}

#subtotal-level {
    padding: 0 8px;
}