body {
    overflow-y: hidden;
}

#threejs {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#panel-collapse-button {
    position: absolute;
    z-index: 2;
    margin: 2rem 1.5rem;
    color: white;
    font-size: large;
}

#panel-collapse-button:hover > * {
    cursor: pointer;
    font-size: larger;
}

@media only screen and (min-width: 1024px) {
    #panel-collapse-button {
        margin: 2rem 0;
    }
}

.hero-body {
    z-index: 1;
}

.hero {
    background-color: #1a264f;
}

.panel {
    margin: 0px;
    background-color: white;
    overflow: hidden;
}

#active-area {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
#threejs {
    position: absolute;
}