<div>
    <div class="box">
        <div class="title">Create Collection</div>
        <form id="{{this.form_id}}">
            <div class="field">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input id="{{this.input_id}}" class="input" type="text" placeholder="Untitled" maxlength="20">
                    </div>
                    <div class="control">
                        <button id="{{this.button_id}}" class="button is-info">Create</button>
                    </div>
                </div>
                <p class="help">
                    Max length of 20 characters
                </p>
            </div>
        </form>
    </div>
</div>