<div>
    <div class="box">
        <div class="title">Delete Note</div>
        <div class="subtitle">Are you sure you want to delete {{this.note_title}}?</div>
        <div class="field is-grouped">
            <div class="control">
                <div id="{{this.delete_button_id}}" class="button is-danger">Delete {{this.note_title}}</div>
            </div>
            <div class="control">
                <div id="{{this.cancel_button_id}}" class="button">Cancel</div>
            </div>
        </div>
    </div>
</div>