<div>
    {{#if this.isFolder}}
    <div id="note-column-add-note" class="note-column-item">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                        <p>Write a new note</p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#each notes}}
    <div class="note-column-item note-column-note {{#if this.selected}}is-active{{/if}}" note_id="{{this.note.id}}">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="has-text-weight-bold">{{this.note.title}}</h1>
                </div>
            </div>
            <div class="level-left">
                <div class="level-item">
                    <p>{{#formatDate this.note.creation}}{{/formatDate}}</p>
                </div>
            </div>
        </div>
        <div>
            Preview text goes here.
        </div>
    </div>
    {{/each}}
</div>