<div>
    {{#each notes}}
    <div class="box">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1>{{this.note.title}}</h1>
                </div>
            </div>
            <div class="level-left">
                <div class="level-item">
                    <p>{{this.note.creation}}</p>
                </div>
            </div>
        </div>
        <div>
            Preview text goes here.
        </div>
    </div>
    {{/each}}
</div>