<div>
    <div class="box">
        <div class="title">Rename Note</div>
        <div class="field">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input id="{{this.input_id}}" class="input" type="text" value="{{this.current_note_title}}" maxlength="30">
                </div>
                <div class="control">
                    <div id="{{this.button_id}}" class="button is-info">Rename</div>
                </div>
            </div>
            <p class="help">
                Max length of 30 characters
            </p>
        </div>
    </div>
</div>